

/* .main_div{
    display: flex;
    justify-content: center;
} */
.container1 {
    border: 20px solid tan;
    width: 750px;
    height: 563px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color: black;
    display: table;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
    
}
.logo {
    color: tan;
}

.marquee {
    color: tan;
    font-size: 48px;
    margin: 20px;
}
.assignment {
    margin: 20px;
}
.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 20px auto;
    width: 400px;
}
.reason {
    margin: 20px;
}