/* .booth_div4{
    /* width: 60%;
    margin-top: 50px;
    margin-left: 20px; 
  }*/

  /* .booth_div5{
    width: 60%;
    margin-bottom: 20px;
    margin-left: 300px;
  }

  .booth_div6{
    width: 60%;
    margin-top: 50px;
    margin-left: 80px;
  } */ 
  .booth_div{
    width: 60%;
    margin-bottom: 20px;
    margin-left: 80px;
  }