.family_div{
    display: inline;
    width: 40%;
    float: left;
    margin-top: 77px;
}
.login_div{
    display:inline-block;
    width: 40%;
    justify-content: center;
    background-color: rgb(214, 206, 206);
    margin-top: 100px;
    border-radius: 10px;
 
}
.fam_img{
    width: 100%;
    margin-bottom: 200px;
    margin-right: 40%;
}
.mob_input{
    display: block;
    margin: auto;
    margin-top: 10px;
}
.pass_input{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.signin_btn{
    color: white;
    background-color: rgb(67, 148, 241);
    border: 1px solid rgb(67, 148, 241);
    border-radius: 20px;
    margin: auto;
    margin-top: 17px;
}
.booth_btn{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
.admini_btn{
    display: inline-block;
    margin-left: 20px;
}
.login_inner_div{
    padding: 20px;
}
.new_user{
    margin: auto;
    margin-left: 20px;
    margin-right: 30%;
}